version: '3'
services:
  app:
    container_name: backend1232
    build: ./server/.
    env_file:
      - ./variables.env
    links:
      - mongo
    ports:
      - 5002:5000  
    depends_on:
      - mongo
  
  
  mongo:
    container_name: database1234
    image: mongo
    ports:
      - 27020:27017

